<?xml version="1.0" encoding="UTF-8"?>
<suite name="TestNgSuite">
	<listeners>
		<listener class-name="com.testng.selenium.v1.TestListener" />
	</listeners>
	<test name="Test1" preserve-order="true">
		<classes>
			<!--<class name="com.testng.selenium.v1.CRMLogin" />
			<class name="com.testng.selenium.v1.PortalLogin" />-->	
				<class name="com.testng.selenium.v1.PortalCreateApplication"
			/>--> </classes>
	</test>

</suite>


