/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

@keyframes bone {
  to {
    background-position: 100% 0;
  }
}

.v-alert.bootstrap-success {
  color: #234720 !important;
  background-color: #d9e7d8 !important;
  border-color: #accbaa !important;
}

.v-alert.bootstrap-info {
  color: #4e6478;
  background-color: #eaf2fa !important;
  border-color: #b8d4ee !important;
}

.v-alert.bootstrap-warning {
  color: #81692c;
  background-color: #fef4dd !important;
  border-color: #fbdb8b !important;
}

.v-alert.bootstrap-error {
  color: #712024;
  background-color: #f7d8da !important;
  border-color: #eeaaad !important;
}

.v-alert .v-icon {
  padding-left: 0;
}

.full-height {
  height: 100%;
}

.theme--light.application {
  background: #f1f1f1;
}

.v-toolbar__title {
  font-size: 1rem;
}

.v-btn {
  text-transform: none !important;
}

.v-alert .v-icon {
  padding-left: 0;
}

.v-alert.bootstrap-success {
  color: #234720;
  background-color: #d9e7d8 !important;
  border-color: #accbaa !important;
}

.v-alert.bootstrap-info {
  color: #4e6478;
  background-color: #eaf2fa !important;
  border-color: #b8d4ee !important;
}

.v-alert.bootstrap-warning {
  color: #81692c;
  background-color: #fef4dd !important;
  border-color: #fbdb8b !important;
}

.v-alert.bootstrap-error {
  color: #712024;
  background-color: #f7d8da !important;
  border-color: #eeaaad !important;
}

.theme--light.v-btn.v-btn--disabled:not(.v-btn--text):not(.v-btn--outlined) {
  background-color: rgba(0, 0, 0, 0.12) !important;
}

/** Col status colors */
.status-gray {
  background-color: #e0e0e0;
  border-radius: 5px;
  padding: 2px 6px 2px 6px;
}

.status-green {
  background-color: #c8e6c9;
  border-radius: 5px;
  padding: 2px 6px 2px 6px;
}

.status-blue {
  background-color: #bbdefb;
  border-radius: 5px;
  padding: 2px 6px 2px 6px;
}

.status-purple {
  background-color: #ba93d1;
  border-radius: 5px;
  padding: 2px 6px 2px 6px;
}

.status-yellow {
  background-color: #ffe082;
  border-radius: 5px;
  padding: 2px 6px 2px 6px;
}

.status-red {
  background-color: #d8292f;
  color: white;
  border-radius: 5px;
  padding: 2px 6px 2px 6px;
}

/** Shared classes */
.alert-icon {
  color: #d8292f !important;
}

.check-icon {
  color: #2e8540 !important;
}

.error-message {
  color: #d8292f;
}

.error-message:hover {
  color: #d8292f;
}

.tooltip {
  background-color: #003466 !important;
  color: #ffffff !important;
}

.soft-outline {
  border: 1px solid #00000040 !important;
}

.basic-card {
  border-top: 5px solid #003366 !important;
  min-height: 150px;
}

@media only screen and (max-width: 959px) {
  .basic-card {
    min-height: 100px;
  }
}

.page-overview {
  font-size: 1.1em;
}

/** Vuetify overrides */
.v-data-table__th {
  font-weight: 600 !important;
}

.v-table .v-table__wrapper {
  font-size: 1rem;
}

a.v-btn--active > .v-btn__overlay {
  opacity: 0;
}

.v-checkbox-btn > .v-label {
  opacity: 1;
}

html body .v-theme--ofmLightTheme {
  --v-disabled-opacity: 0.8;
}

.v-expansion-panel-title__icon .v-icon {
  font-size: 2.25em !important;
  /* Adjust this value to change the size of the icon */
}

/* Adjust the size of the transaction icons: i.e. fa-edit, fa-trash-can */
.transaction-icon {
  font-size: 1.5em !important;
}
